extends ../layout

block content
  div(class="container")
    h3 #{journals.length} Journals
    ul
      each journal in journals
        li
          a(href="/journal/" + journal.id) #{journal.name}
          span &nbsp; #{journal.issues.length}
