extends ../layout

block content
  div(class="container")
    div
      h2 Web Scraper
      a(class="btn btn-primary" href="/scraper/start") Start Scraping!
      div(class="mt15")
        a(class="btn btn-primary" href="/scraper/upload") Upload!
      div(class="mt15")
        a(class="btn btn-primary" href="/scraper/process") Process!
